<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: gray">
    <div class="container">
        <div class="col mx-auto text-center">
            <h1>{{song["title"]}}</h1>
        </div>
    </div>
    <div class="col d-flex justify-content-around text-center">
        <form action="/songs/add/playlist/" method="post" modelAttribute="songToPlaylist">
            <select name="playlist">
            </select>
            <input type="submit" value="Add song to playlist" class="btn-sm btn-primary" />
        </form>
    </div>
    <iframe width="967" height="553" src="https://www.youtube.com/embed/{{song['video']}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="container">
        <div class="col mx-auto text-center">
            <a href="/dashboard" class="btn btn-dark btn-outline-success">Home</a>
            <a href="/edit/song/" class="btn btn-dark btn-outline-warning">Edit</a>
            <a href="/song/destroy/" class="btn btn-dark btn-outline-danger">Add</a>
            <a href="/artist/show/" class="btn btn-dark btn-outline-info">More</a>
        </div>
    </div>
</body>

</html>