<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="d-flex">
        <div class="col">
            <h1>A list of artist</h1> 
        </div>
        <div class="col offset-8"><a href="/create/song"> Add an song</a></div>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr>
                <th scope="row">{{song["id"]}}</th>
                <td><a href="/show/song/{{song['id']}}"> {{ song["title"] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>