<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <section class="register-photo">
        <div class="form-container d-flex justify-content-around">
            <div class="col-4">
                <form action="/process/create/artist" method="post">
                <h2 class="text-center"><strong>Add</strong> an Artist.</h2>
                <div class="form-group"><input type="text" class="form-control" name="name" placeholder="Artist name" /></div>
                <div class="form-group"><input type="text" class="form-control" name="hometown" placeholder="Artist hometown" /></div>
                <div class="form-group">
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Add artist</button></div>
            </form>
        </div>
        <div class = "col-4"></div>
        </div>
    </section>
</body>
</html>