<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackname.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Document</title>
</head>

<body style="background-color: gray">
    <div class="container">
        <div class="col mx-auto text-center">
            <h1>{{artist["name"]}}</h1>
            <br>
            <p>Hometown: {{artist['hometown']}}</p>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="col mx-auto text-center">
            <a href="/dashboard" class="btn btn-dark btn-outline-success">Songs</a>
            <a href="/artist/dashboard" class="btn btn-dark btn-outline-light">Artist</a>
            <a href="/edit/artist/{{artist['id']}}" class="btn btn-dark btn-outline-warning">Edit</a>
            <a href="/add/artist/" class="btn btn-dark btn-outline-info">Add Artist</a>
            <a href="https://www.stubhub.com/find/s/?q={{artist['name']}}" class="btn btn-dark btn-outline-info">Ticket
                Info</a>
            <a class="btn btn-dark btn-outline-danger" href="/logout">Logout</a>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-4 text-center">
                <h2>Add Song</h2>
                <form action="/process/create/song" method="post" modelAttribute="newSong">
                    <div class="form-group">
                        <input name="title" class="form-control text-center" placeholder="Title" />
                    </div>
                    <!-- <div class="form-group">
                        <input name="genresInput" class="form-control text-center" placeholder="Add genre" />
                        <errors name="genresInput" class="text-danger" />
                    </div> -->
                    <div class="form-group">
                        <input name="video" class="form-control text-center" placeholder="Add youtube embed" />
                    </div>
                    <input type="hidden" name="artistId" value="{{artist['id']}}">
                    <input type="submit" value="Add" class="btn btn-sm btn-dark" />
                </form>
            </div>
            <table class="col-6 m-3 table table-dark table-striped table-hover">
                <tr>
                    <th>Song Names</th>
                    <th>Rating</th>
                    <th>Action</th>
                </tr>
                {%for song in artistSongs %}
                    <tr>
                        <td><a href="/song/show/${song.id}"><b>{{song['title']}}</b></a></td>
                        <td>{{song['rating']}}</td>
                        <td><a class="btn btn-dark btn-outline-warning" href="/edit/song/${song.id}">Edit</a>
                            <a class="btn btn-dark btn-outline-danger" href="/artist/song/${song.id}">Add</a>
                        </td>
                    </tr>
                {%endfor%}
            </table>
        </div>
    </div>

</body>

</html>