<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body style="background-color: gray">
    <div class="container p-3">
        <div class="jumbotron text-center">
            <h1>Welcome</h1>
        </div>
        <div class="row d-flex justify-content-around">
            <a class = "btn btn-primary" href="/artist/dashboard"> artist dashboard</a>
            <a class = "btn btn-success" href="/song/dashboard"> song dashboard</a>
        </div>
    </div>
</body>

</html>